p {
    font-family: 'times new roman', serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}
a {
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
}